*{
    margin: 0;
    padding: 0; 
    font-size: large;
}
body{
    background-color: black;
}
.panelPrincipal{
    display: inline-block;
    float: left;
    margin: 2px;
    width: 32%;
    min-width: 300px;
    min-height: 300px;
    background-color: orange;
}
#panelMsgOK{
    background-color: coral;
}
#panelMsgOKLogin{
    background-color: chocolate;
}
#panelMsgOKAcceso{
    background-color: blueviolet;
}
#panelMsgERROR{
    background-color: red;
}
button{
    min-height: 50px;
    width: 100%;
}
