
* {
  margin:  0;
  padding: 0;
  border:  0;
}

body{
  background-color: yellow;
  font-size: large;
}

#panelUno {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);  
}
header{
  background-color: orange;
  font-family: 'Snippet', sans-serif;
/*  grid-column: 1 / -1; */ 
  min-height: 50px;
  
}
footer{
  background-color: red;
  color: white;
  font-family: 'Sniglet', cursive;
/*   grid-column: 1 / -1;  */
  min-height: 50px;
}
section{
  background-color: aqua;
  grid-column-start: 2;  
  grid-column-end: -2;  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}
article{
  background-color: green;
  border-radius: 10px;
  padding: 10px;
}
nav{
  background-color: seagreen;
}

section > h1{
   grid-column: 1 / -1;  
}

footer, header, h1, h2, h3 {
  text-align: center;
}

aside{
  background-color: yellowgreen;
}

#panelMsg{
  background-color: orange;
  grid-column: 1 / -1;  
}




